<% include partials/header %>

        <div class="container">
            <div class="row">
                <div class="col-md-5 thrift-show">
                     <div class="thumbnail" style="width: 100%;">
                        <img style="width: 100%;" class="image-responsive" src="<%= post.image %>">
                        <div class="caption-full">

                         <h4>
                            <a>
                                 <%=post.name%>
                            </a>
                            <p>

                             <%=post.description%>
                            </p>
                        </h4>
                             <p>
                                <em> Submitted By: <a class="btn btn-xs " href="/alumni/<%=post.author.id %>" ><%= ( post.author.name) %></a> </em>
                              </p>
                             <form id="comment" action="/posts/<%= post._id %>?_method=PUT" method="POST">
                                <input type="text" name="comment" > 
                                <button class="btn btn-xs btn-success">Comment</button>
                             </form>

                            <% if(currentUser && post._id && post.author.id == currentUser.id){ %>
                                <a class="btn btn-xs btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
                                 <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                       <button class="btn btn-xs btn-danger">Delete</button>
                                 </form>

                            <% } %>
                         </div>
                       </div>
                </div>
            </div>
        </div>
     <% include partials/footer %>