<% include partials/header %>

    <% if(alumni.address) { %>
        <div class="col-md-3 thriftstore-location">
            <p><strong>Address:</strong><br>
                <%= alumni.address %>
            </p>
            <div class="google-map responsive-iframe responsive-iframe-4x3">
                <iframe width="300" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAPzLdcKEPCe4SQf3-cdSnq5vmh_MRaHCs&q=<%= alumni.address.replace(/ /g, '+') %> <%=alumni.city%> <%=alumni.state%>" allowfullscreen>
                        </iframe>
            </div>
        </div>

        <% } %>

        <div class="container">
            <div class="row">
                <div class="col-md-5 thrift-show">
                     <div class="thumbnail" style="width: 100%;">
                        <img style="width: 100%;" class="image-responsive" src="<%= alumni.image %>">
                        <div class="caption-full">

                         <h4>
                            <a>
                                 <%=alumni.name%>
                            </a>
                        </h4>
                             <p>
                                 <%= alumni.batch %>
                            </p>
                            <p>
                                <em>Submitted By: <%= (alumni.name ||  alumni.username) %></em>
                             </p>
                            <% if(currentUser && alumni._id && alumni._id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/alumni/<%= alumni._id %>/edit">Edit</a>
                                 <form id="delete" action="/alumni/<%= alumni._id %>?_method=DELETE" method="POST">
                                       <button class="btn btn-xs btn-danger">Delete</button>
                                 </form>
                            <% } %>
                         </div>
                       </div>
                </div>

                 <div class="col-md-3">
                    <p class="lead">MORE DETAILS</p>
                    <div class="list-group">
                        <li class="list-group-item ">
                             <%=alumni.email%>
                        </li>
                        <li class="list-group-item">
                             <%=alumni.mobile%>
                         </li>

                         <li class="list-group-item">
                            <%=alumni.college%>
                        </li>

                         <li class="list-group-item  ">
                            <a href="/alumni/<%=alumni._id%>/email">  Send Email</a>
                        </li>

                        <li class="list-group-item  ">
                            <a href="/alumni/<%=alumni._id%>/message">  Send Message</a>
                        </li>

                    </div>
                </div>

            </div>
        </div>
     <% include partials/footer %>